@page "/bookList"
@using zad6.Services
@using zad6.Models
@inject IBookService bookService 

<PageTitle>Book List</PageTitle>

<h1>Book List</h1>

@if (books is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
@if (books.Count == 0)
{
    <p>
        <em>No books found.</em>
    </p>
}
else
{
    <ul class="list-group">
        @foreach(var book in books)
        {
            <li>
                <div class="my-3 d-flex gap-3">
                    <h1>@book.Title</h1>
                    <p class="my-auto">@book.Author</p>
                    <p class="my-auto">@book.Rating</p>
                </div>
                <a href="bookList/@book.Id" class="btn btn-primary my-auto">Details</a>
            </li>
        }
    </ul>
}
@code {
    private List<Book> books;

    protected override async Task OnInitializedAsync()
    {
        books = await bookService.FetchAllBooksAsync();
    }

}