@page "/ChangePassword"
@using zad6.Services
@using System.ComponentModel.DataAnnotations
@inject IAuthService authService
@inject NavigationManager navigationManager
<h3>Change Password</h3>

<EditForm Model="@Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label class="form-label">Old Password</label>
    <InputText class="form-control" @bind-Value="Model.OldPassword" type="password"/>
    <label class="form-label">Password</label>
    <InputText class="form-control" @bind-Value="Model.Password" type="password"/>
    <label class="form-label">Repeat Password</label>
    <InputText class="form-control" @bind-Value="Model.RepeatPassword" type="password"/>

    <button class="btn btn-primary mt-5" type="submit">Change Password</button>
</EditForm>
<p>@Error</p>

@code {
    public ChangePasswordModel Model { get; set; } = new ();
    public string Error { get; set; }
    
    public async Task OnSubmit()
    {
        if (Model.Password != Model.RepeatPassword)
        {
            Error = "Passwords do not match";
            return;
        }
        await authService.ChangePasswordAsync(Model.OldPassword, Model.Password);
        navigationManager.NavigateTo("/");
    }

    public class ChangePasswordModel
    {
        [Required]
        public string OldPassword { get; set; }
        [Required]
        [MinLength(8)]
        public string Password { get; set; }
        [Required]
        [MinLength(8)]
        public string RepeatPassword { get; set; }
    }
}
