@page "/Login"
@using zad6.Services
@using zad6.Models
@inject IAuthService authService
@inject NavigationManager navigationManager
<h3>Login</h3>

<EditForm Model="@Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label class="form-label">Email</label>
    <InputText class="form-control" @bind-Value="Model.Email" type="text"/>
    <label class="form-label">Password</label>
    <InputText class="form-control" @bind-Value="Model.Password" type="password"/>

    <p class="my-3">@Error</p>
    <button class="btn btn-primary mt-5" type="submit">Login</button>
</EditForm>

@code {
    public LoginRequestDTO Model { get; set; } = new ();
    public string Error { get; set; }
    
    public async Task OnSubmit()
    {
        Error = "";
        Error = await authService.LoginAsync(Model.Email, Model.Password);
        if (Error is null or "")
        {
            navigationManager.NavigateTo("/");
        }
    }
}