
<form action="CreateBook" method="post">
    <label>Title</label>
    <input type="text" name="titleValue"/>
    <label>Author</label>
    <input type="text" name="authorValue"/>
    <label>Synopsis</label>
    <input type="text" name="synopsisValue"/>
    <label>Rating</label>
    <input type="number" step="1" min="1" max="5" name="ratingValue"/>
    <input type="submit" value="Save"/>
</form>