@Model zad5.Models.ViewModels.BookList

<div class="align-content-center mx-auto border-1">
    <a href="http://localhost:5286/Books/CreateBook/">Add a book</a>
    @{
        foreach (var book in Model.Books)
        {
            <h1>@book.Title</h1>
            <h2>@book.Author</h2>
            <a href="http://localhost:5286/Books/Details/@book.Id">See details</a>
        }
    }
</div>
