@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <div class="flex-column gap-4">
        <a href="http://localhost:5286/Books">Book list</a>
        <a href="http://localhost:5286/AddBooks">Add book</a>
    </div>
</div>